## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-06-11 01:52:29.221251: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'], axis = 1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2380        1
C1728        1
C1900        1
C5200        1
C4200        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_cleaned = classification_types.loc[classification_types > 1]
classifications_cleaned

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1257        5
C1600        5
C0           3
C1260        3
C2710        3
C1246        2
C1234        2
C1256        2
C1267        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [27]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 157424

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 157,475
Trainable params: 157,475
Non-trainable params: 0
_________________________________________________________________

2023-06-11 01:56:29.036397: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.6435 - accuracy: 0.7358
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4819 - accuracy: 0.7891
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.2372 - accuracy: 0.9234
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1538 - accuracy: 0.9500
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1328 - accuracy: 0.9535
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1230 - accuracy: 0.9554
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1166 - accuracy: 0.9558
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1116 - accuracy: 0.9568
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1083 - accuracy: 0.9570
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1061 - accuracy: 0.9575
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1048 - accuracy: 0.9584
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1032 - accuracy: 0.9580
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1022 - accuracy: 0.9590
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1015 - accuracy: 0.9588
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1001 - accuracy: 0.9584
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0994 - accuracy: 0.9587
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0983 - accuracy: 0.9601
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0982 - accuracy: 0.9590
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0979 - accuracy: 0.9596
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0969 - accuracy: 0.9601
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0965 - accuracy: 0.9604
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0964 - accuracy: 0.9596
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0961 - accuracy: 0.9602
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0959 - accuracy: 0.9605
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0950 - accuracy: 0.9602
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0949 - accuracy: 0.9603
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0941 - accuracy: 0.9607
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0940 - accuracy: 0.9607
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0937 - accuracy: 0.9605
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0932 - accuracy: 0.9604
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0930 - accuracy: 0.9605
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0925 - accuracy: 0.9607
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0926 - accuracy: 0.9610
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0919 - accuracy: 0.9617
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0922 - accuracy: 0.9616
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0922 - accuracy: 0.9619
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0917 - accuracy: 0.9616
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0916 - accuracy: 0.9616
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0916 - accuracy: 0.9617
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0910 - accuracy: 0.9617
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0910 - accuracy: 0.9621
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0906 - accuracy: 0.9620
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0901 - accuracy: 0.9630
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0900 - accuracy: 0.9628
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0899 - accuracy: 0.9630
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0898 - accuracy: 0.9629
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0896 - accuracy: 0.9625
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0893 - accuracy: 0.9625
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0893 - accuracy: 0.9630
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0891 - accuracy: 0.9636
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0890 - accuracy: 0.9635
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0888 - accuracy: 0.9636
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0882 - accuracy: 0.9642
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0886 - accuracy: 0.9632
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0881 - accuracy: 0.9634
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0879 - accuracy: 0.9635
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0878 - accuracy: 0.9636
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0873 - accuracy: 0.9638
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0875 - accuracy: 0.9641
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0874 - accuracy: 0.9636
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0872 - accuracy: 0.9645
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0871 - accuracy: 0.9643
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0864 - accuracy: 0.9650
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0870 - accuracy: 0.9645
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.0864 - accuracy: 0.9645
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0863 - accuracy: 0.9645
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0861 - accuracy: 0.9649
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0860 - accuracy: 0.9645
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0858 - accuracy: 0.9653
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0857 - accuracy: 0.9651
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0855 - accuracy: 0.9656
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0854 - accuracy: 0.9649
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0853 - accuracy: 0.9653
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0854 - accuracy: 0.9656
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0852 - accuracy: 0.9654
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0854 - accuracy: 0.9655
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0851 - accuracy: 0.9654
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0848 - accuracy: 0.9661
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0847 - accuracy: 0.9659
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0850 - accuracy: 0.9658
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0846 - accuracy: 0.9652
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0846 - accuracy: 0.9652
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0845 - accuracy: 0.9654
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0841 - accuracy: 0.9656
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0848 - accuracy: 0.9659
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0843 - accuracy: 0.9656
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0840 - accuracy: 0.9655
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0840 - accuracy: 0.9649
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0839 - accuracy: 0.9654
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0838 - accuracy: 0.9656
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0837 - accuracy: 0.9660
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0839 - accuracy: 0.9656
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9667
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0839 - accuracy: 0.9653
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0836 - accuracy: 0.9657
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0835 - accuracy: 0.9659
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0833 - accuracy: 0.9663
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0831 - accuracy: 0.9656
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9665
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0829 - accuracy: 0.9662

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.2605 - accuracy: 0.5858 - 463ms/epoch - 2ms/step
Loss: 1.2604807615280151, Accuracy: 0.5857725739479065

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE